/.metadata/
/Eclipse_practicas/ColoresHilos/nbproject/private/
/Eclipse_practicas/Cronometro_v2/nbproject/private/
/Eclipse_practicas/Cronometro/nbproject/private/
/Eclipse_practicas/Cronometro/build/
